.background::before {
  content: "";
  background: url(../../assets/images/miscellaneous/skullPNG.png);
  width: 31svw;
  height: 150svh;
  display: flex;
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  right: -13rem;
  top: 7rem;
  opacity: 90%;
  z-index: 1;
}
